<div id="app-body">
    <nav *ngIf="!isLoginPage()">
        <button id="toggle-btn" (click)="toggleNavBar()"><img src="../assets/burger-menu.png" alt=""></button>
        <button (click)="authService.logout()">Logout</button>

        <h1><a routerLink="/">Home</a></h1>
        <div>
            <h1><a routerLink="/recursos">Recursos</a></h1>
            <ul>
                <li>
                    <a routerLink="/recursos/agua">Água</a>
                </li>
                <li>
                    <a routerLink="/recursos/eletricidade">Eletricidade</a>
                </li>
                <li>
                    <a routerLink="/recursos/gas">Gás</a>
                </li>
            </ul>
        </div>
        <a routerLink="/calendario">Calendário</a>
    </nav>
    
    <router-outlet></router-outlet>
</div>