<h1 style="font-size: xx-large; font-weight: bolder;">Eletricidade</h1>

<div>
    <div>
        <h3>Consumo</h3>
        <div class="graph-container">
            <h4>Mensal</h4>
            {{ this.calculatePricePerMonth() }} kWh
        </div>
        <div class="graph-container">
            <h4>Semanal</h4>
            {{ this.calculatePricePerWeek() }} kWh
        </div>
        <div class="graph-container">
            <h4>Diario</h4>
            {{ this.calculatePricePerDay() }} kWh
        </div>
    </div>
</div>